$ui-breakpoint-xl: "1200px";
$ui-breakpoint-xl-min: "1201px";

$ui-breakpoint-lg: "992px";
$ui-breakpoint-lg-min: "993px";

$ui-breakpoint-md: "768px";
$ui-breakpoint-md-min: "769px";

$ui-breakpoint-sm: "576px";
$ui-breakpoint-sm-min: "577px";

$ui-color-orange: #F8902E;
$ui-color-dark-blue:#39599F;
$ui-color-blue: #45B0E3  ;
$ui-color-red: #CC212C ;
$ui-color-purple: #D97AB0;