.main__title{
    color: #4E4E4E;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 137.5% */
text-transform: uppercase;
    margin-bottom: 23px;
}
.main__card{
    margin-bottom: 30px;
    &:last-of-type{
        margin-bottom: 77px;
    }
    img{
        width: 160px;
height: 140px;
flex-shrink: 0;
margin-bottom: 11px;
    }
    h2{
        color: #4E4E4E;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 187.5% */
    }
}
.main__card_text{
    color: #7C7C7C;
font-family: Roboto;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
margin-bottom: 13px;
}
.main__card_text_hide{
    color: #5C5C5C;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
display: none;

@media screen and (min-width: $ui-breakpoint-md-min) {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 380px;
height: 40px;
flex-shrink: 0;
      }
      @media screen and (min-width: $ui-breakpoint-xl-min) {
      
      }
}
.main__card_flex{
    @media screen and (min-width: $ui-breakpoint-md-min) {
        display: flex;
             }
             @media screen and (min-width: $ui-breakpoint-xl-min) {
             
             }
}
.main__wrapper{
    @media screen and (min-width: $ui-breakpoint-md-min) {

    }
    @media screen and (min-width: $ui-breakpoint-xl-min) {
      display: flex;
      flex-wrap: wrap;
    }
}
.main__card_wrapper{
 
    margin-left: 0px;
    
    @media screen and (min-width: $ui-breakpoint-md-min) {
        margin-left: 21px;
             }  
}
.main__card_hide{
    display: none;
    @media screen and (min-width: $ui-breakpoint-xl-min) {
               display: flex;
    }
}