.footer{
    background-color: black;
    padding-top: 38px;
    padding-bottom: 47px;
}
.footer__title{
    color: #FEFEFE;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 157.143% */
text-transform: uppercase;
text-align: center;
margin-bottom: 8px;
@media  screen and (min-width: $ui-breakpoint-md-min) {
    font-size: 16px;
}
}
.footer__text_wrapper{
    display: flex;
    justify-content: center;
align-items: center;
flex-direction: column;

}
.footer__subtitle{
    text-align: center;
    color: #B9B9B9;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
width: 303px;


margin-bottom: 25px;
@media  screen and (min-width: $ui-breakpoint-md-min) {
    width: 528px;
    height: 44px;
}
}



.footer-wrapper{
    @include flex_center;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    column-gap: 7px;
    margin-bottom: 25px;
    span{
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.00);
        padding: 5px;
    }
    img{
        width: 12px;
height: 12px; 
    }
}
.footer__wrapper_orange{
    border: 2px solid $ui-color-orange;
}
.footer__wrapper_dark-blue{
    border: 2px solid $ui-color-dark-blue
}
.footer__wrapper_blue{
    border: 2px solid $ui-color-blue;
}
.footer__wrapper_purple{
    border: 2px solid $ui-color-purple;
}
.footer__wrapper_red{
    border: 2px solid $ui-color-red;
}
.footer__text{
  
    text-align: center;
    color: #B9B9B9;
    a{
        cursor: pointer;
        color: #B9B9B9;
        display: block;
        @media  screen and (min-width: $ui-breakpoint-md-min) {
          display: inline;
          padding-left:11px;
        }
    }
}
