.header{
padding-top: 23px;
}
.header__wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    @media screen and (min-width:  $ui-breakpoint-md-min) {
        align-items: center; 
        justify-content: center;
        max-width: 768px;
    
          }
          @media screen and (min-width:  $ui-breakpoint-xl-min) {
            max-width: 1170px;
          }
}
.header__btn{
    border: none;
    background-color: black;
    position: relative;
    width: 53px;
    height: 41px;
    img{
      display: flex;
  justify-content: center;
  align-items: center;

    }
    @media screen and (min-width:  $ui-breakpoint-md-min) {
	display: none;
		
	  }
	
}
.header__menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 182px;
height: 208px;
background-color: #F5F5F5;
white-space: nowrap;
z-index: 1;
@media screen and (min-width: $ui-breakpoint-md-min) {
flex-direction: row;
max-width: 768px;
background-color: white;
height: auto;
margin-bottom: 460px;
  }
  @media screen and (min-width: $ui-breakpoint-xl-min) {
    max-width: 1170px;
    margin-bottom: 667px;
  }
.header__menu_links{
   
    display: block;
    width: 100%;
    color: #4E4E4E;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    letter-spacing: 1.1px;
    text-transform: uppercase;
padding-left: 14px;
&:hover{
    color: #57A4A4;
    background-color:#f5ebeb ;
}
@media screen and (min-width: $ui-breakpoint-md-min) {
    padding: 0 17px;

    &:hover{
        background-color:white ;
    }
      }
      @media screen and (min-width: $ui-breakpoint-xl-min) {
        padding: 0 32px;
      }
}
}
.header__banner{
    width: 320px;
height: 150px;
object-fit: contain;
position: absolute;
top: 85px;
@media screen and (min-width:  $ui-breakpoint-md-min) {
    display: none;
      }
}
.header__banner_md{
  display: none;
  object-fit: contain;
  position: absolute;
  @media screen and (min-width:  $ui-breakpoint-md-min) {
    width: 768px;
    height: 361px;
    top: 95px;
    display: block;
      }
      @media screen and (min-width: $ui-breakpoint-xl-min) {
     display: none;
      }
}
.header__banner_lg{
  display: none;
  @media screen and (min-width: $ui-breakpoint-xl-min) {
    display: block;
    width: 1170px;
    height: 550px;
    top: 105px;
  }
}

.view{
    opacity: 0;
    z-index: -1;
    @media screen and (min-width: $ui-breakpoint-md-min) {
        opacity: 1;
        z-index: 1;
          }
       
}
