.short {
    padding-top: 47px;
    background-color: #FFFF;
    padding-bottom: 40px;
    @media screen and (min-width: $ui-breakpoint-md-min) {
        background-color: #f3f0f0;
        padding-bottom: 60px;
    }
    @media screen and (min-width: $ui-breakpoint-xl-min) {
        padding-bottom: 70px;
    }
   
}
.short_wrapper_text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
    @media screen and (min-width: $ui-breakpoint-md-min) {
      margin-bottom: 35px;
    }

    @media screen and (min-width: $ui-breakpoint-xl-min) {
      margin-bottom: 24px;
    }
    h2 {
        color: #4E4E4E;
        font-family: Roboto;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        @media screen and (min-width: $ui-breakpoint-md-min) {
            font-size: 16px;
        }
    }

    .short__text_hide {
        display: none;
        font-size: 13px;

        @media screen and (min-width: $ui-breakpoint-md-min) {
            display: flex;
        }
    }
}

.short__photos {
    display: flex;
    column-gap: 10px;
}

.short__photos_img{
    width: 301px;
    height: 301px;

    @media screen and (min-width: $ui-breakpoint-md-min) {
        width: 250px;
        height: 249px;
    }

    @media screen and (min-width: $ui-breakpoint-xl-min) {
        width: 285px;
        height: 285px;
    }
}

.short__hide_first {
    display: none;

    @media screen and (min-width: $ui-breakpoint-md-min) {
        display: flex;
    }
}

.short__hide_second {
    display: none;
    @media screen and (min-width: $ui-breakpoint-xl-min) {
       display: flex;
    }
}
